<div class="dashboard">
    <h1>Dashboard</h1>
  
    <!-- <section class="dashboard-container">
        <article class="dashboard-content">
          <section class="stats-container">
            <div class="primary-stats">
              <article class="stat-card" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
                <h3 class="stat-label">Stat Label</h3>
                <p class="stat-value">--</p>
              </article>
            </div>
          </section>
          <section class="calendar-container">
            <header class="calendar-header">
              <button class="nav-button">Previous</button>
              <h2 class="month-title">Month Year</h2>
              <button class="nav-button">Next</button>
            </header>
            <div class="calendar-grid">
              <ng-container
                *ngFor="
                  let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
                "
              >
                <div class="weekday-header">{{ day }}</div>
              </ng-container>
              <ng-container
                *ngFor="
                  let i of [
                    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
                    19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
                  ]
                "
              >
                <article class="calendar-day">
                  <span class="day-number">{{ i }}</span>
                  <div class="day-content">
                    <p class="profit-amount">--</p>
                    <p class="trades-count">-- trades</p>
                  </div>
                </article>
              </ng-container>
            </div>
          </section>
        </article>
      </section> -->

<!-- app.component.html -->
<div class="container">
  <div class="upload-section">
    <h2 class="title">Upload MT5 report</h2>
      <mat-card style="background-color: white;" *ngIf="isUploading" >
        <mat-progress-bar mode="determinate" [value]="uploadProgress"  class="custom-progress-bar" [ngClass]="{ 'hidden': hideProgressBar }">
          
        </mat-progress-bar>
        <p>Uploading Trades: {{ uploadProgress }}%</p>
    </mat-card>
    <input type="file" id="fileInput" (change)="onFileSelected($event)" accept=".xlsx, .xls" />
    <label for="fileInput" class="file-label">
      <span class="material-icons">file_present</span> Choose an Excel File
    </label>
    <button (click)="onUpload()" class="file-label"><span class="material-icons">cloud_upload</span>Upload</button>
    <br>     
    <mat-form-field appearance="fill">
      <mat-label>Date range</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
        <input matEndDate placeholder="End date" [(ngModel)]="endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker></mat-date-range-picker>
      <div style="display: flex; gap: 20px; align-items: center;">
        <div *ngIf="isLoadingChecking" class="spinner-container">
          <mat-progress-spinner
            [value]="progressChecking"
            mode="determinate"
            diameter="45"
            strokeWidth="5">
          </mat-progress-spinner>
          <div class="spinner-text">{{ progressChecking }}%</div>
        </div>
        <div *ngIf="isLoadingPatching" class="spinner-container">
          <mat-progress-spinner
            [value]="progressPatching"
            mode="determinate"
            diameter="45"
            strokeWidth="5">
          </mat-progress-spinner>
          <div class="spinner-text">{{ progressPatching }}%</div>
        </div>
      </div>
    </mat-form-field>
    <button (click)="checkAndCreateRelationId()" class="file-label">Patch ActivityLog</button>
    <button (click)="compareToNotion()" class="file-label">Compare to Notion</button>
    <button (click)="populateData()" class="file-label">Populate data</button>


  </div>

  <div class="paste-area" (paste)="onPaste($event)">
    <p>Paste your Excel table here!</p>
  </div>

  <!-- <div id="testTable" class="table-container"> 
    <table>
      <tr *ngFor="let row of tableData">
        <td>{{ row.id }}</td> 
        <td>{{ row.rowData?.column2 }}</td> 
        <td>{{ row.rowData?.column3 }}</td> 

      </tr>
    </table>
  </div> -->
 
  <!-- <button (click)="copyColumns(12,13)">Copy Net Profit</button> -->
  <!-- Display uploaded Excel Data -->
  <div class="table-container">
    <table class="excel-table" id="myTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <!-- <th *ngFor="let column of tableData[0]">{{ column }}</th> -->
           <!-- [class.hidden]="!showNotionData" class="notion-data" -->
           <th>Open Date</th>
           <th class="notion-data">Trades (Notion)</th>
           <th class="notion-data">Status</th>
           <th>Position</th>
           <th>Symbol</th>
           <th>Type</th>
           <th>Volume</th>
           <th>Entry</th>
           <th>S/L</th>
           <th>T/P</th>
           <th>Close Date</th>
           <th>Exit</th>
           <th>Commission</th>
           <th>Swap</th>
           <th>Profit</th>
           <th>Net Profit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData">
          <td>{{ row.openDate }}</td>
          <td>
            <ng-container *ngIf="row.status === 'Unmatched' && row.tradeNotion?.length">
                <button
                  *ngFor="let tradeNotion of row.tradeNotion"
                  class="notion-button"
                  (click)="chooseUnmatchedTrade(tradeNotion)"
                  style="margin-right: 4px;"
                >
                  {{ tradeNotion.tradeDate }}
                </button>
            </ng-container></td>
          <td><span [ngClass]="{
              'status-pill matched fade-pulse': row.status === 'Matched',
              'status-pill unmatched fade-pulse': row.status === 'Unmatched'
            }"
            >{{ row.status }} </span></td>
          <td>{{ row.position }}</td>
          <td>{{ row.symbol }}</td>
          <td>{{ row.type }}</td>
          <td>{{ row.volume }}</td>
          <td>{{ row.entry }}</td>
          <td>{{ row.sL }}</td>
          <td>{{ row.tP }}</td>
          <td>{{ row.closeDate }}</td>
          <td>{{ row.exit }}</td>
          <td>{{ row.commission }}</td>
          <td>{{ row.swap }}</td>
          <td>{{ row.profit }}</td>
          <td>{{ row.netProfit }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="calendar-nav">
  <button (click)="viewDate = subMonth(viewDate)">Previous</button>
  <h2>{{ viewDate | date: 'MMMM yyyy' }}</h2>
  <button (click)="viewDate = addMonth(viewDate)">Next</button>
</div>

    <div class="calendar-wrapper">
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="events"
        [cellTemplate]="customTemplate">
      </mwl-calendar-month-view>

      <!-- Custom Template -->
      <ng-template #customTemplate let-day="day">
        <div class="h-full w-full p-1 rounded-xl"
             [ngClass]="getPnLColor(day)">
          <div class="font-semibold">
            {{ day.date | date: 'd' }}
          </div>
          <div class="text-xs" *ngIf="day.events.length">
            <div *ngFor="let event of day.events">
              <div>
                {{ event.meta.pnl | currency }}
              </div>
              <div>
                {{ event.meta.profit }}
              </div>
              <div *ngIf="event.meta.rMultiple">
                {{ event.meta.rMultiple }}R
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

</div>
  