<!-- Compact Dream Timeline with Upward Date -->
<div class="dream-time-minimal">
  <div class="start-date-vertical">August 11, 2023 6:41am</div>
  <div class="time-units">
    <div class="time-unit" *ngIf="timeElapsed.years > 0" title="Years of Dreams">
      <span class="value">{{ timeElapsed.years }}</span>
      <span class="label">y</span>
    </div>
    <div class="time-unit" *ngIf="timeElapsed.months > 0 || timeElapsed.years > 0" title="Months of Growth">
      <span class="value">{{ timeElapsed.months }}</span>
      <span class="label">m</span>
    </div>
    <div class="time-unit" title="Days of Dedication">
      <span class="value">{{ timeElapsed.days }}</span>
      <span class="label">d</span>
    </div>
    <div class="time-unit" title="Hours of Hustle">
      <span class="value">{{ timeElapsed.hours }}</span>
      <span class="label">h</span>
    </div>
    <div class="time-unit" title="Minutes of Momentum">
      <span class="value">{{ timeElapsed.minutes }}</span>
      <span class="label">m</span>
    </div>
    <div class="time-unit" title="Seconds of Success">
      <span class="value">{{ timeElapsed.seconds }}</span>
      <span class="label">s</span>
    </div>
  </div>
</div>
