<!-- Dream Timeline with Date on Right -->
<div class="dream-time-minimal">
  <div class="time-units">
    <div class="start-date-vertical">August 11, 2023 6:41am</div>
    <div class="time-unit" *ngIf="timeElapsed.years > 0" title="Years of Dreams">
      <span class="value">{{ timeElapsed.years }}</span>
      <span class="label">years</span>
    </div>
    <div class="time-unit" *ngIf="timeElapsed.months > 0 || timeElapsed.years > 0" title="Months of Growth">
      <span class="value">{{ timeElapsed.months }}</span>
      <span class="label">months</span>
    </div>
    <div class="time-unit" title="Days of Dedication">
      <span class="value">{{ timeElapsed.days }}</span>
      <span class="label">days</span>
    </div>
  </div>
</div>
